


// selective import for space saving
// @import '../../node_modules/coeur/styles/_head-reset.scss';

@import '../../node_modules/coeur/styles/_utils.scss';
@import '../../node_modules/coeur/styles/_heart.scss';


@import '../../node_modules/coeur/styles/_head.scss';

// @import '../../node_modules/coeur/styles/_neck.scss';
// @import '../../node_modules/coeur/styles/_neck-buttons.scss';
@import '../../node_modules/coeur/styles/_neck-layout.scss';
@import '../../node_modules/coeur/styles/_neck-design.scss';
@import '../../node_modules/coeur/styles/_neck-links.scss';
@import '../../node_modules/coeur/styles/_neck-code.scss';

// @import '../../node_modules/coeur/styles/_body.scss';
@import '../../node_modules/coeur/styles/_body-card.scss';
// @import '../../node_modules/coeur/styles/_body-forms';  
// @import '../../node_modules/coeur/styles/_body-tag';  
// @import '../../node_modules/coeur/styles/_body-table';  
// @import '../../node_modules/coeur/styles/_body-buttonGroups';  

// re-cascade
@import '../../node_modules/coeur/styles/_head-helpers.scss';



// defined units
$unit: $size;
$line-height: $unit * 1.6;
$radius: $unit/4;


// typography
// $font-stack: 'Roboto', -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;


* {
  @extend %font-body;
}





// to be added to coeur





